<html>
<head>
	<title>WebGuesser</title>
	<link rel="stylesheet" href="style.css">
	<script
			  src="https://code.jquery.com/jquery-3.1.0.js"
			  integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
			  crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>